<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Extactco.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Extactco.Properties.Settings>
            <setting name="ServerAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>14330</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>Extactco</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value>extactco_test</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>õäòõ°³²µ</value>
            </setting>
            <setting name="FilePath" serializeAs="String">
                <value>D:\</value>
            </setting>
            <setting name="Select1" serializeAs="String">
                <value>select * from tab1 
/* zawsze dodawajcie poniższe, inaczej będzie bez filtrowania */
where [FS.DATA] between @DATEFROM and @DATETO
/* to też dodawajcie ;) */
order by [FS.DATA];</value>
            </setting>
            <setting name="Select2" serializeAs="String">
                <value>/* program sprawdza czy to pole nie jest puste, lub czy "wynik" zapytania nie jest pusty
    jeżeli tak, to wtedy nie wpisuje wartości VAT
*/
select * from tab2
/* poniższe ma być dodane do selecta 2 inaczej nie będzie filtorwał po ID */
where [ID2] = @PARENTID;</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value />
            </setting>
        </Extactco.Properties.Settings>
    </userSettings>
</configuration>